#cookiebanner {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    border-top: 2px solid var(--color-black);
    padding: var(--space-05);
    display: flex;
    align-items: center;

    @include large {
        flex-wrap: wrap;
    }

    p {
        font-size: var(--font-size-small);
        margin: var(--space-05);

        a {
            border-bottom: 1px dotted currentColor;
        }
    }

    .btn {
        font-size: var(--font-size-small);
        padding: var(--space-05) var(--space-10);
        flex-shrink: 0;
        margin: var(--space-05);
    }
}